/* UTILITY */
:root {
	--color-main-blue: #0061ff;
	--color-hero-bgcolor: #b4d0e7;
	--color-black-footer: #000000;
	--color-blue-checklist: #035fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 1000px;
    margin: 50px auto;
}

ul{
    list-style: none;
}

li a, .nav-button a{
    text-decoration: none;
}

p{
    line-height: 1.4em;
}

.btn a{
    text-decoration: none;
    background-color: var(--color-blue-checklist);
    padding: 10px;
    color: white;
}
/* -------------------------HEADER */


/* --nav */
nav{
    padding: 5px;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

nav li a{
    color: black;
}

.nav-button{
    background-color: var(--color-main-blue);
    padding: 5px;
}

.nav-button a{
    color: white;
}

.nav-boxlogo{
    width: 150px;
    margin: 8px 5px;
}

.nav-boxlogo img{
    width: 100%;
}


/* --hero */
.hero-flex{
    display: flex;
}

.hero{
    background-color: var(--color-hero-bgcolor);  
    position: relative;  
}

 h1{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 30px;
 }

.hero-all{
    padding-top: 80px;
}
.text-info{
    max-width: 35%;
}

.box-imagehero{
    min-width: 65%;
    position: relative;
}

.box-imagehero img{
    width: 100%;
    margin-bottom: -80px;
}
 
.hero-button{
    margin: 30px 0px;
}

.arrow i{
    font-size: 3em;
    position: absolute;
    bottom: 0;
}









/* -------------------------MAIN */



.big-square{
    background-color: var(--color-hero-bgcolor);
}

/* -------------------------FOOTER */
footer{
    background-color: var(--color-black-footer);
    color: white;
}