/* UTILITY */
:root {
	--color-main-blue: #0061ff;
	--color-hero-bgcolor: #b4d0e7;
	--color-black-footer: #000000;
	--color-blue-checklist: #035fff;
    --box-shadow:0px 0px 10px #888888;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 1000px;
    margin: 150px auto;
}

ul{
    list-style: none;
}

li a, .nav-button a{
    text-decoration: none;
}

p{
    line-height: 1.4em;
}

.btn a{
    text-decoration: none;
    background-color: var(--color-blue-checklist);
    padding: 10px;
    color: white;
}
/* -------------------------HEADER */
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--box-shadow)
/*     height: 50px; */
}

/* ---:hover */
nav li:hover{
    background-color: rgba(113, 113, 113, 0.5);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

nav .nav-button:hover{
    background-color: #005aeb;
    font-size: 1.3em;
    box-shadow:2px 2px 5px black;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn a:hover{
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 5px;
}

.nav-boxlogo:hover{
    filter: drop-shadow(10px 5px 3px #9f9f9f);
}


.box-texthero{
    position: relative;
}

.hidden-text{
    display: none;
    position: absolute;
    left: 50px;
    bottom: 10px;
    font-size: 0.9em;
    color: white;
    background-color: var(--color-blue-checklist);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 10px 10px 10px #888888;

}

.arrow a:hover + .hidden-text{ 
    display: block;
}

.arrow i:hover{
    box-shadow:2px 2px 5px black;
    border-radius: 50%;
}

/* --nav */
nav{
    padding: 5px;
    background-color: white;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

nav li a{
    color: black;
}

.nav-button{
    background-color: var(--color-main-blue);
    padding: 5px;
}

.nav-button a{
    color: white;
}

.nav-boxlogo{
    width: 150px;
    margin: 8px 5px;
}

.nav-boxlogo img{
    width: 100%;
}


/* --hero */
.hero-flex{
    display: flex;
}

.hero{
    background-color: var(--color-hero-bgcolor);  
    position: relative;  
}

h1{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 30px;
}

.hero-all{
    padding-top: 80px;
}
.text-info{
    max-width: 35%;
}

.box-imagehero{
    min-width: 65%;
    position: relative;
}

.box-imagehero img{
    width: 100%;
    margin-bottom: -80px;
}

.hero-button{
    margin: 30px 0px;
}

.arrow i{
    font-size: 3em;
    position: absolute;
    bottom: 0;
}









/* -------------------------MAIN */



.big-square{
    background-color: var(--color-hero-bgcolor);
}

/* -------------------------FOOTER */
footer{
    background-color: var(--color-black-footer);
    color: white;
}